:root {
  --primary-bg-color: #07AB80;
  --secondary-bg-color: #5B636E;
  --tertiary-bg-color: #cecece;
  --dark-bg-color: #050A0E;
  --light-bg-color: #FAFAFA;
  --box-shadow: #212223d3;
}

input,
textarea {
  width: 100%;
  border: 1px solid black;
  /* box-shadow: 0px 4px 5px var(--box-shadow); */
  margin: .5em;
}


#formCheckbox {
  width: 25px;
  height: 25px;
  box-shadow: none;
  margin: 0;
  margin-right: 10px;
  margin-top: 5px;
  padding: 0;
  accent-color: var(--primary-bg-color);
}

.txt-hidden {
  color: red;
}

.form-btn {
  color: var(--primary-bg-color);
  font-weight: 600;
  background-color: white;
  box-shadow: none;
  border: 1px solid black;
}

/* REMINDER CHANGE CARDS BORDER COLOR */

.bg-prim {
  background-color: var(--primary-bg-color);
}

.bg-sec {
  background-color: var(--secondary-bg-color);
}

.bg-tert {
  background-color: var(--tertiary-bg-color);
}

.bg-dark {
  background-color: var(--dark-bg-color);
}

.bg-light {
  background-color: var(--light-bg-color);
}

.txt-prim {
  color: var(--primary-bg-color);
}

.txt-sec {
  color: var(--secondary-bg-color);
}

.txt-tert {
  color: var(--tertiary-bg-color);
}

.txt-dark {
  color: var(--dark-bg-color);
}

.txt-light {
  columns: var(--light-bg-color);
}

.grn-line {
  border-left: 8px solid var(--primary-bg-color);
  box-shadow: var(--box-shadow);
  width: 50px;
  height: 100px;
}

@media (max-width: 767px) {
  .txt-hidden {
    display: none;
  }
}