:root {
  --primary-bg-color: #07AB80;
  --secondary-bg-color: #5B636E;
  --tertiary-bg-color: #cecece;
  --dark-bg-color: #050A0E;
  --light-bg-color: #FAFAFA;
  --box-shadow: #212223d3;
}

input,
textarea {
  width: 100%;
  border: 1px solid black;
  margin: .5em;
}

#formCheckbox {
  width: 25px;
  height: 25px;
  box-shadow: none;
  margin-left: 0;
  accent-color: var(--primary-bg-color);
}

@media (max-width: 767px) {
  .txt-hidden {
    display: none;
  }
}

.custom-form-control {
  border-color: var(--dark-bg-color);
}

.form-btn {
  color: var(--primary-bg-color);
  font-weight: 600;
  background-color: white;
  box-shadow: none;
  border: 1px solid black;
}


.hero-img {
  min-height: 50vh;
  background: url(https://images.unsplash.com/photo-1510798831971-661eb04b3739?q=80&w=1287&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}

/* REMINDER CHANGE CARDS BORDER COLOR */

.bg-prim {
  background-color: var(--primary-bg-color);
}

.bg-sec {
  background-color: var(--secondary-bg-color);
}

.bg-tert {
  background-color: var(--tertiary-bg-color);
}

.bg-dark {
  background-color: var(--dark-bg-color);
}

.bg-light {
  background-color: var(--light-bg-color);
}

.txt-prim {
  color: var(--primary-bg-color);
}

.txt-sec {
  color: var(--secondary-bg-color);
}

.txt-tert {
  color: var(--tertiary-bg-color);
}

.txt-dark {
  color: var(--dark-bg-color);
}

.txt-light {
  columns: var(--light-bg-color);
}

.txt-area {
  width: 100%;
  height: 200px;
}

.txt-hidden {
  color: white;
}

.text-shadow {
  text-shadow: 2px 2px 4px black;
}

.grn-line {
  border-left: 8px solid var(--primary-bg-color);
  box-shadow: var(--box-shadow);
}