:root {
  --primary-bg-color: #07AB80;
  --secondary-bg-color: #5B636E;
  --box-shadow: #212223d3;
  --tertiary-bg-color: #cecece75;
}

input,
textarea {
  width: 100%;
  border: 1px solid black;
  box-shadow: 0px 4px 5px var(--box-shadow);
  margin: .5em;
}

#formCheckbox {
  width: 20px;
  height: 20px;
  box-shadow: none;
  padding: 0;
  margin: 0;
  accent-color: var(--primary-bg-color);
}

/* .form-header {
  width: 50%;
} */

.form-btn {
  color: var(--primary-bg-color);
  font-weight: 600;
  background-color: white;
  box-shadow: none;
  border: 1px solid black;
}

/* REMINDER CHANGE CARDS BORDER COLOR */

.bg-prim {
  background-color: var(--primary-bg-color);
}

.bg-sec {
  background-color: var(--secondary-bg-color);
}

.bg-tert {
  background-color: var(--tertiary-bg-color);
}

.txt-prim {
  color: var(--primary-bg-color);
}

.txt-sec {
  color: var(--secondary-bg-color);
}